/* .days, .week {
  display: grid;
  grid-template-columns:1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  width: 414px;
  text-align: center;
  margin-top: 25px;
  margin-bottom: 25px;
  border: 1px solid transparent;
}

.date{
  display: inline-block;
  width: 30px;
  border: 1px solid transparent;
}

.date-today{
  border-radius: 20px;
  background-color: #1976d2;
  color: white;
}

.date-today:hover{
  border-radius: 20px;
  background-color: #1976d2;
  color: white;
}

.date-grey{
  color: grey;
}

.dates{
  display: grid;
  grid-template-columns:1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  width: 414px;
  text-align: center;
}

.date:hover{
  border-radius: 20px;
  background-color: #00000010;
  cursor: pointer;
}

.week:hover:not(:has(.date:hover)){
  border-radius: 10px;
  background-color: #00000010;
  cursor: pointer;
}

.add-event-element {
  margin-top: 15px;
}

.type-input-container {
  display: flex;
  align-items: center;
} */